<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>投房宝</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/public/zhongchou/index/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/public/zhongchou/index/css/loaders.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>

</head>
<body>

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <a style="width: 20%;height:48px;float: left;" href="/index/index/self">
        <img src="/public/zhongchou/index/image/fanhui_03.png" alt="返回" style="width: 22px;height: 20px;margin: 14px 0px 14px 13px"/>
    </a>
    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">账户充值</div>

</div>

<div style="width: 100%;height: 30px"></div>


<div style="width: 100%;height: 50px;background-color: white;position: relative">

    <div style="width: 20px;height: 20px;position: absolute;top: 15px;left: 15px;background: url('/public/zhongchou/index/image/shuru_03.png');background-size: cover"></div>

    <input style="position: absolute;left: 50px;top: 5px;border: none;height: 40px;width: 260px" placeholder="请输入金额" id="cmoney"  type="number" >
</div>



<div style="width: 100%;height: 15px"></div>

<div style="width: 100%;height: 50px;background-color: white;position: relative;">

    <div style="width: 20px;height: 20px;position: absolute;top: 15px;left: 15px;background: url('/public/zhongchou/index/image/shuru_03.png');background-size: cover"></div>

    <input style="position: absolute;left: 50px;top: 5px;border: none;height: 40px;width: 180px"  id="code"  type="number" placeholder="输入验证码" />

    <input style="position: absolute;right: 18px;top: 10px;width: 80px;height: 30px;font-size: 10px;color: #0e9def;line-height: 30px;border: 1px solid #0e9def;border-radius: 5px;text-align: center" type="button" id="sendcode" onclick="sendzhifuCode();" value="获取验证码" />

</div>



<div style="width: 100%;height: 30px"></div>



<input type="button"  onclick="chongzhibtn();" value="充值" style="width: 90%;height: 40px;border-radius: 5px;text-align: center;line-height: 40px;color: white;font-size: 15px;background-color: #0e9def;margin-left: 5%">

<br/>
<br/>

<div style="width: 100%;height: 30px"></div>
<div style="position: fixed;top: 0;bottom: 0;width: 100%;background-color: grey;opacity: 0.3;display: none;" id="loadimg">

    <div style="width: 100%;height: 270px"></div>
    <div style="width: 30%;margin: 0 auto;">
        <div class="loader" style="margin: 0 auto">
            <div class="loader-inner pacman" style="margin: 0 auto">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


</div>



<div style="width: 100%;height: 30px"></div>
<div style="font-size: 8px;color: #c3c3c3;margin-left: 5%;margin-right: 5%;width: 90%;">
    <p>友情提示：</p>
    <p>1.投资人充值免费，不收取任何手续费，即时充值所产生的费用，有平台承担</p>
    <p>2.充值/提现必须为银行借记卡，不支持存折，信用卡充值</p>
    <p>3.如果充值金额没有即时到账，请联系客服热线：010-59452601</p>
</div>



<div style="position: absolute;top: 48px;left: 0;width: 100%;height: 1500px;background-color: rgba(1,1,1,0.5);display: none" id="mask">

    <div style="position: absolute;top: 80px;left: 10%;width: 80%;height: 150px;background-color: rgba(255,255,255,1);border-radius: 10px">
        <p style="text-align: center;width: 100%;height: 100px;color: #c3c3c3;line-height: 100px;border-bottom: 1px solid #c3c3c3">请先绑定银行卡</p>

        <div style="position: absolute;bottom: 0;left: 0;width: 50%;height: 50px;line-height: 50px;text-align: center;color: #c3c3c3" onclick="hide_mask()">取消</div>
        <div style="position: absolute;bottom: 0;right: 0;width: 50%;height: 50px;line-height: 50px;text-align: center;color: #0e9def;border-left: 1px solid #c3c3c3">去设置</div>

    </div>

</div>

<script type="text/javascript">
    function show_mask(){
        document.getElementById("loadimg").style.display = 'block';
    }
    function hide_mask(){
        document.getElementById("loadimg").style.display = 'none';
    }

    var endtime = 60;
    var now =0;
    function daoJiShi()
    {
        now+=1;
        var ofs= endtime -now;
        $('#codebtn').val(ofs+ ' 秒');
        if(ofs<=0){
            $('#codebtn').removeAttr('disabled');
            $('#codebtn').val("获取验证码");
            return;
        };
        setTimeout('daoJiShi()',1000);
    }


    var  codetype=0;
    function  sendzhifuCode(){

        if($("#cmoney").val()<=0){
            alert('请输入充值金额') ;

            document.getElementById("cmoney").focus();
            return false;
        }
        show_mask();
        //发送倒计时
        daoJiShi();
        $('#codebtn').attr('disabled','disabled');
        var  data='money='+$("#cmoney").val()+'&codetype='+codetype;
        $.ajax({
            url: "/index/topup/zhifucode",
            type: "post",
            dataType:"json",
            data: data,
//            timeout : 600000, //超时时间设置，单位毫秒
            async:false,
            success: function (data) {
                console.log(data);
                alert(data.msg);
                hide_mask();
                //发送失败则 走重新发送的接口
                if(data.code==0){

                    $("#tmoney").val(2);
                    codetype=1;
                }else  {

                }
            },
            error:function(data){
                console.log(data);
                alert(data.msg);
                hide_mask();
                //发送失败则 走重新发送的接口
                if(data.code==0){

                    $("#tmoney").val(2);
                    codetype=1;
                }else  {

                }
            }
        });
    }
    function  chongzhibtn(){
        show_mask();
        var  data='money='+$("#cmoney").val()+'&code='+$('#code').val();
        $.ajax({
            type: "POST",
            url: "/index/topup/chongzhi",
            data: data,
            async:false,
            success: function (msg) {
                hide_mask();
                alert(data.msg);
                //发送失败则 重新
                if(data.code==0){
                    //
                }else if(data.code==1){
                    //
                }
            },
            error:function(data){
                console.log(data);
                hide_mask();
                alert(data.msg);
                //发送失败则 重新
                if(data.code==0){
                    //
                }else if(data.code==1){
                    //
                }
            }
        });
    }


</script>

</body>
</html>
