<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>91众筹</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.9.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/zhongchou/index/css/firstcss.css"/>
    <link rel="stylesheet" type="text/css" href="/public/zhongchou/index/css/bank.css"/>
</head>

<script>
    function jiebang(){
        var  data;
        $.ajax({
            type: "POST",
            url: "/index/topup/jiebang",
            data: data,
            async:false,
            success: function(msg){
                var data = $.parseJSON(msg);
                alert(data.msg);
                window.location.href= '/index/index/bangka';
            }
        });
    }

    function  chongzhibtn(){
        var  data='money='+$("#cmoney").val()+'&code='+$('#code').val();
        $.ajax({
            type: "POST",
            url: "/index/topup/chongzhi",
            data: data,
            async:false,
            success: function (msg) {
                var data = $.parseJSON(msg);
                alert(data.msg);
                if(data.code==0){
                    window.location.href= '/index/index/self';
                }else if(data.code==1){
                    window.location.href= '/index/index/self';
                }
            }
        });
    }


    function  tixianbtn(){
        //alert($("#tmoney").val());
        var  data= 'money='+$("#tmoney").val()+'&pass='+$("#pass").val();
        $.ajax({
            type: "POST",
            url: "/index/topup/tixian",
            data: data,
            async:false,
            success: function (msg) {
                var data = JSON.parse(msg);
                alert(data.msg);
                if(data.code==0){
                    window.location.href= '/index/index/self';
                    $("#tmoney").val(2);
                }else  if(data.code==1){
                    window.location.href= '/index/index/self';
                }
            }
        });
    }

    function chongzhi(){
        if($("#tcontent") .is(":visible")==false){
            $("#ccontent").css('display','block');
        }else {
            $("#tcontent").css('display','none');
            $("#ccontent").css('display','block');
        }
    }

    function  tixian(){
        if($("#ccontent") .is(":visible")==false){
            $("#tcontent").css('display','block');
        }else {
            $("#ccontent").css('display','none');
            $("#tcontent").css('display','block');
        }
    }

    var endtime = 60;
    var now =0;
    function daoJiShi()
    {
        now+=1;
        var ofs= endtime -now;
        $('#codebtn').val(ofs+ ' 秒');
        if(ofs<=0){
            $('#codebtn').removeAttr('disabled');
            $('#codebtn').val("获取验证码");
            return;
        };
        setTimeout('daoJiShi()',1000);
    }

    var  codetype=0;
    function  sendzhifuCode(){
        //发送倒计时
        daoJiShi();
        $('#codebtn').attr('disabled','disabled');
        var  data='money='+$("#cmoney").val()+'&codetype='+codetype;
        $.ajax({
            type: "POST",
            url: "/index/topup/zhifucode",
            data: data,
            async:false,
            success: function (msg) {
                var data = JSON.parse(msg);
                alert(data.msg);
                //发送失败则 走重新发送的接口
                if(data.code==0){
                    window.location.href= '/index/index/self';
                    $("#tmoney").val(2);
                    codetype=1;
                }else  {
                    window.location.href= '/index/index/self';
                }
            }
        });
    }


</script>

<body>

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <a style="width: 20%;height:48px;float: left;" href="/index/index/set">
        <img src="/public/zhongchou/index/image/fanhui_03.png" alt="返回" style="width: 22px;height: 20px;margin: 14px 0px 14px 13px"/>
    </a>
    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">绑定银行卡</div>

</div>

<div style="width: 100%;height: 50px"></div>



<?php if(!empty($bankCardResult['bank_card_no'])): ?>
<div class="header_91">
    <p class="title">支付方式 </p>
</div>

<div class="out_bank_content">
    <span>绑定卡号</span>
    <p id="card_no">
        <?= $bankCardResult['bank_card_no'] ?></p>

    <div class="bankbtn" onclick="jiebang();">
        解绑银行卡
    </div>
    <div class="bankbtn" onclick="chongzhi();">
        充值
    </div>
    <div class="bankbtn" onclick="tixian();">
        提现
    </div>
    <div  id="ccontent">
        <p style="float: left;margin-left: 35px">充值金额  :</p>
        <input id="cmoney"  type="number" value="2" />
        <br/>  <br/>
        <input id="code"  type="number" placeholder="输入验证码" style="float: left;margin-left: 35px;margin-top: 5px;margin-right: 5px"/>
        <input id="codebtn" type="button" value="获取验证码" style="margin-top: 0" onclick="sendzhifuCode();"/>
        <br/>
        <input type="button"  onclick="chongzhibtn();" value="确定" style="width: 80%;margin-left: 10%"></input>
    </div>

    <div  id="tcontent">
        提现金额  :
        <input id="tmoney"  type="number" value="2" />
        <br/>
        <br/>
        支付密码  :
        <input id="pass"  type="password" value="" />
        <br/>
        <input type="button" onclick="tixianbtn();" value="确定"></input>


    </div>
</div>
<?php else : ?>


<div style="width: 100%;height: 100px"></div>


<div style="width: 260px;height: 130px;margin: 0 auto;background-color: white;border-radius: 10px;position: relative;" onclick="tobangka()">


    <img src="/public/zhongchou/index/image/tianjai_03.png" alt="add" style="width: 20px;height: 20px;position: absolute;top: 55px;left: 80px "/>
    <p style="height: 20px;position: absolute;top: 55px;left: 110px;color: #bebebe;line-height: 20px">添加银行卡</p>

</div>

<?php endif;?>






<script type="text/javascript">
    function tobangka(){
        window.location.href = '/index/index/tobangka';
    }
</script>

</body>
</html>
