<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>91众筹</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>

</head>
<body>

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <a style="width: 20%;height:48px;float: left;" href="/index/index/set">
        <img src="/public/zhongchou/index/image/fanhui_03.png" alt="返回" style="width: 22px;height: 20px;margin: 14px 0px 14px 13px"/>
    </a>
    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">绑定银行卡</div>

</div>

<div style="width: 100%;height: 50px"></div>

<div style="width: 260px;height: 130px;margin: 0 auto;background-color: white;border-radius: 10px;position: relative;" onclick="tobangka()">


    <img src="/public/zhongchou/index/image/tianjai_03.png" alt="add" style="width: 20px;height: 20px;position: absolute;top: 55px;left: 80px "/>
    <p style="height: 20px;position: absolute;top: 55px;left: 110px;color: #bebebe;line-height: 20px">添加银行卡</p>

</div>

<script type="text/javascript">
    function tobangka(){
        window.location.href = '/index/index/tobangka';
    }
</script>

</body>
</html>
