<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>投房宝</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />

    <link href="/public/zhongchou/index/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/public/zhongchou/index/css/loaders.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/zhongchou/index/css/firstcss.css"/>
    <link rel="stylesheet" type="text/css" href="/public/zhongchou/index/css/bank.css"/>
</head>

<script>

    function show_mask(){
        document.getElementById("loadimg").style.display = 'block';
    }
    function hide_mask(){
        document.getElementById("loadimg").style.display = 'none';
    }

    function jiebang(){
        var  data;
        $.ajax({
            type: "POST",
            url: "/index/topup/jiebang",
            data: data,
            async:false,
            success: function(msg){
                var data = $.parseJSON(msg);
                alert(data.msg);
                window.location.href= '/index/index/bangka';
            }
        });
    }

    function  chongzhibtn(){
        show_mask();
        var  data='money='+$("#cmoney").val()+'&code='+$('#code').val();
        $.ajax({
            type: "POST",
            dataType:"json",
            url: "/index/topup/chongzhi",
            data: data,
            async:false,
            success: function (data) {
                hide_mask();
                console.log(data);
                alert(data.msg);
                //发送失败则 重新
                if(data.code==0){
                    //
                }else if(data.code==1){
                    //
                }
            },
            error:function(data){
                console.log(data);
                hide_mask();
                alert(data.msg);
                //发送失败则 重新
                if(data.code==0){
                    //
                }else if(data.code==1){
                    //
                }
            }
        });
    }


    function  tixianbtn(){
        show_mask();
        var  data= 'money='+$("#tmoney").val()+'&pass='+$("#pass").val();
        $.ajax({
            type: "POST",
            url: "/index/topup/tixian",
            data: data,
            async:false,
            success: function (msg) {
                hide_mask();
                alert(data.msg);
                //发送失败则 重新
                if(data.code==0){
                    $("#tmoney").val(2);
                }else  if(data.code==1){
                    //
                }
            },
            error:function(data){
                hide_mask();
                alert(data.msg);
                //发送失败则 重新
                if(data.code==0){
                    $("#tmoney").val(2);
                }else  if(data.code==1){
                    //
                }
            }
        });
    }

    function chongzhi(){
        if($("#tcontent") .is(":visible")==false){
            $("#ccontent").css('display','block');
        }else {
            $("#tcontent").css('display','none');
            $("#ccontent").css('display','block');
        }
    }

    function  tixian(){
        if($("#ccontent") .is(":visible")==false){
            $("#tcontent").css('display','block');
        }else {
            $("#ccontent").css('display','none');
            $("#tcontent").css('display','block');
        }
    }

    var endtime = 60;
    var now =0;
    function daoJiShi()
    {
        now+=1;
        var ofs= endtime -now;
        $('#codebtn').val(ofs+ ' 秒');
        if(ofs<=0){
            $('#codebtn').removeAttr('disabled');
            $('#codebtn').val("获取验证码");
            return;
        };
        setTimeout('daoJiShi()',1000);
    }
    var  codetype=0;
    function  sendzhifuCode(){
        show_mask();
        //发送倒计时
        daoJiShi();
        $('#codebtn').attr('disabled','disabled');
        $.ajax({
            type: "POST",
            url: "/index/topup/zhifucode?"+'money='+$("#cmoney").val()+'&codetype='+codetype,
            data: '',
            dataType:"json",
            async:false,
            success: function (data) {
                hide_mask();
                alert(data.msg);
                //发送失败则 走重新发送的接口
                if(data.code==0){
                    $("#tmoney").val(2);
                    codetype=1;
                }else  {
                }
            },
            error:function(data){
                hide_mask();
                alert(data.msg);
                //发送失败则 走重新发送的接口
                if(data.code==0){
                    $("#tmoney").val(2);
                    codetype=1;
                }else  {
                }
            }
        });
    }
</script>

<body>

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <a style="width: 20%;height:48px;float: left;" href="/index/index/set">
        <img src="/public/zhongchou/index/image/fanhui_03.png" alt="返回" style="width: 22px;height: 20px;margin: 14px 0px 14px 13px"/>
    </a>

    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">绑定银行卡</div>
    <div style="width: 20%;float: right;text-align: center;line-height: 48px;font-size: 14px" onclick="jiebang();">解绑</div>
</div>

<div style="width: 100%;height: 50px"></div>



<?php if(!empty($bankCardResult['bank_card_no'])): ?>
<!--<div class="header_91">-->
    <!--<p class="title">支付方式 </p>-->
<!--</div>-->
<div style="width: 100%;height: 60px"></div>
<div class="out_bank_content">
    <!--<span>招商银行<span style="font-size: 10px;margin-left: 5px">限额:单笔5万元 , 单日50万元</span></span>-->
    <!--<p id="card_no">-->
        <!--<?= $bankCardResult['bank_card_no'] ?>-->


    <!--</p>-->

    <div style="width: 80%;height: 130px;background-color: white;margin-left: 10%;border-radius: 10px">

        <div style="width: 30%;height: 130px;float: left ;" ><div style="margin: 0px auto;width: 40px;height: 40px"><img src="/public/zhongchou/images/zhongxin_03.png" alt="logo" style="width: 40px;height: 40px;margin-top: 45px"/></div></div>
        <div style="width: 69%;height: 130px;float: right;font-size: 12px">
            <div style="color: #5b5b5b;height: 30px;font-size: 12px;margin-top: 25px"><?= $bankCardResult['bank_card_code'] ?></div>
            <div style="color: #a5a5a5;height: 30px;font-size: 10px"><?= $bankCardResult['bank_card_no'] ?></div>
            <div style="color: #a5a5a5;height: 30px;font-size: 10px">限额:单笔5万元 , 单日50万元</div>
        </div>

    </div>


    <!--<div class="bankbtn" onclick="jiebang();">-->
        <!--解绑银行卡-->
    <!--</div>-->
    <!--<div class="bankbtn" onclick="chongzhi();">-->
        <!--充值-->
    <!--</div>-->
    <!--<div class="bankbtn" onclick="tixian();">-->
        <!--提现-->
    <!--</div>-->


    <div style="width: 100%;height: 30px"></div>
    <div style="position: fixed;top: 0;bottom: 0;width: 100%;background-color: grey;opacity: 0.3;display: none;" id="loadimg">

        <div style="width: 100%;height: 270px"></div>
        <div style="width: 30%;margin: 0 auto;">
            <div class="loader" style="margin: 0 auto">
                <div class="loader-inner pacman" style="margin: 0 auto">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>


    </div>



    <div  id="ccontent">
        <p style="float: left;margin-left: 35px;color: black">充值金额  :</p>
        <input id="cmoney"  type="number" value="2" />
        <br/>  <br/>
        <input id="code"  type="number" placeholder="输入验证码" style="float: left;margin-left: 35px;margin-top: 5px;margin-right: 5px"/>
        <input id="codebtn" type="button" value="获取验证码" style="margin-top: 0" onclick="sendzhifuCode();"/>
        <br/>
        <input type="button"  onclick="chongzhibtn();" value="确定" style="width: 80%;margin-left: 10%"></input>
        <br/>
        <br/>
    </div>

    <div  id="tcontent">
        <p style="float: left;margin-left: 35px">提现金额  :</p>
        <input id="tmoney"  type="number" value="2" />
        <br/>
        <br/>
        <p style="float: left;margin-left: 35px">支付密码  :</p>
        <input id="pass"  type="password" value="" />
        <br/>
        <input type="button" onclick="tixianbtn();" value="确定" style="width: 80%;margin-left: 10%"></input>
        <br/>
        <br/>

    </div>
</div>
<?php else : ?>


<div style="width: 100%;height: 100px"></div>


<div style="width: 260px;height: 130px;margin: 0 auto;background-color: white;border-radius: 10px;position: relative;" onclick="tobangka()">


    <img src="/public/zhongchou/index/image/tianjai_03.png" alt="add" style="width: 20px;height: 20px;position: absolute;top: 55px;left: 80px "/>
    <p style="height: 20px;position: absolute;top: 55px;left: 110px;color: #bebebe;line-height: 20px">添加银行卡</p>

</div>

<?php endif;?>






<script type="text/javascript">
    function tobangka(){
        window.location.href = '/index/index/tobangka';
    }
</script>

</body>
</html>



