<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>投房宝</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>



</head>
<body>

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <a style="width: 20%;height:48px;float: left;" href="/index/index/faxian">
        <img src="/public/zhongchou/index/image/fanhui_03.png" alt="返回" style="width: 22px;height: 20px;margin: 14px 0px 14px 13px"/>
    </a>
    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">帮助中心</div>

</div>

<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c1">什么是众筹，为什么要在中国发展众筹？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a1" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b1" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d1">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;">众筹 起源于国外的 crowd funding，指的是用团购加预购的方式向公众直接募集项目资金，为融资者提供一个直接面向市场，面向散户的集资方式。
        中国由于幅员辽阔、市场纵深巨大，传统融资方式旷日持久，且现难以实现融资方与大量投资人之间有效的沟通。而随着中国市场对于各种互联网概念的快速接纳和公众日益增长的投资理财需求，使得众筹拥有了得天独厚的发展空间。互联网金融恰好弥补了传统融资与投资渠道门槛过高，信息不透明，沟通困难的问题。目前已有各类网上货币基金与众筹天使投资平台蓬勃发展，股权和物权众筹也在发展之中。</p>
</div>


<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c2">我为什么要选择91金服？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a2" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b2" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d2">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;">在选择投资时，需要兼顾风险、收益的均衡性，不能只看收益。在财富管理领域，有一个共识是，高收益往往伴随着高风险。因此，如果单纯考虑收益，而忽略个别机构可能存在的风险，是不理智的行为。在选择收益的同时，更重要的是要选择有实力、风控措施好的公司，这样才能在确保较高收益的同时把所承担的风险降最低。91金服具有自主研发的高精度数据分析系统，由国内外顶尖的风控师评估风险。凡是在网站出现的项目都是我们的专业团队在众多项目中筛选出来的低风险，高收益的项目。 91金服是国内房地产众筹的领头羊，也是将房产证券化的第一人。</p>
</div>




<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c3">项目所得收益的钱会回到哪个账户？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a3" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b3" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d3">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;">所有的资金交易都会显示在在网站绑定的银行账号中。 即所得收益默认回款到绑定的银行账户中。</p>
</div>





<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c4">项目投资金额会有限制吗？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a4" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b4" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d4">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 针对不同的项目，我们会根据众筹额度均设有上限和下限，详见每个项目的具体说明。</p>
</div>




<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c5">网站安全吗？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a5" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b5" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d5">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 91金服网站架设三层防火墙隔离系统，确保平台内部网络不受侵害，保障平台数据流的安全；采用数字签名、数据加密、安全套接协议等安全技术，确保传送的数据都是被加密的，从而有效的保证通信过程的私密性和真实性；运用流程管理的方法，完善内部控制制度，配备专职安全系统运维工程师，保障系统连续、可靠、正常地运行，保护系统数据、硬件、软件等不因偶然或恶意的原因而遭到破坏；容灾备份机制，设置生产、容灾两个数据中心，彼此同步，互为备份，以保证系统历史数据的永久保存和绝对安全。同时，我们还会持续更新和改进网站的安全策略，确保网站安全策略的有效性，以保证网站的健壮性。</p>
</div>




<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c6">我怎么知道每个项目有多大风险？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a6" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b6" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d6">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 可以参考91金服专业精准的风险评级：
        91金服搜集分析各方面信息数据，利用独创的高精准化数据分析模型和专业的数据分析师对项目风险进行综合评级， 为投资人提供简明参考。</p>
</div>




<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c7">项目发起方是安全可信的吗？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a7" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b7" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d7">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 91金服在每个项目发布前都会尽职审查，多方核实项目方信息，让您明明白白的安全投资。
        91金服平台承担项目核心信息的尽职审查和全方位披露，包括注册登记信息，证照信息，项目、土地登记、抵押信息等，让投资人对项目知根知底，对投资风险准确掌控。</p>
</div>




<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c8">91金服和开发商有什么关系？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a8" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b8" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d8">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 91金服不代表地产开发商利益，更不是所谓的开发商马甲。
        91金服坚持四个字：独立中立。独立才能不偏不倚。91金服是独立中立的平台，没有开发商控股，更不是开发商倾销存货或用房产做短期现金周转的推手。91金服立足于服务投资人，独立进行审核项目，不受项目方干扰，对项目进行风险评级和初选。</p>
</div>




<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c9">各项目的资金安全？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a9" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b9" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d9">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 每个项目风险是独立且分割的，平台项目多，每个项目之间都没有任何联系，别的项目不会影响您的收益。91投房的投资结构强调投资人投资标的安全。项目标的收益权、所有权明晰。各个项目之间进行隔离，确保项目间运营表现和利益关系相互独立，投资人的资产不会因为其他项目的表现而受到影响。</p>
</div>





<div style="width: 100%;height: 50px;color:#8f8f8f;background-color: white;border-bottom: 2px solid #f8f8f8; ">
    <p style="line-height: 50px;text-indent: 15px;float: left;font-size: 13px" id="c10">如何认筹房地产项目？</p>
    <img src="/public/zhongchou/images/jiantouyou_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: block;" id="a10" onclick="show(this.id)"/>
    <img src="/public/zhongchou/images/jiantouxia_03.png" alt="下拉" style="width: 20px;height: 20px;float: right;margin-top: 15px;margin-right: 20px;display: none;" id="b10" onclick="hide(this.id)"/>
</div>
<div style="background-color: white;padding-top: 15px;padding-bottom: 15px;border-bottom: 2px solid #f8f8f8; display: none;" id="d10">
    <p style="width: 90%;margin-left: 5%;font-size: 10px;color: #8f8f8f;line-height: 15px;background-color: white;"> 点击住宅项目中的认筹链接，并按照提示支付即可完成认筹。每期众筹均有额度和参与人数限制，如募集达标，众筹支持者即能以众筹价购房；如到期筹资金额未达及格线，则认筹款项全额退回。</p>
</div>





<div style="width: 100%;height: 30px;"></div>

<script type="text/javascript">

    function show(id){
        var num = id.slice(1);
        document.getElementById(id).style.display='none';
        document.getElementById('b'+num).style.display='block';
        document.getElementById('c'+num).style.color='#3baaea';
        document.getElementById('d'+num).style.display='block';

    }
    function hide(id){
        var num = id.slice(1);
        document.getElementById(id).style.display='none';
        document.getElementById('a'+num).style.display='block';
        document.getElementById('c'+num).style.color='#8f8f8f';
        document.getElementById('d'+num).style.display='none';

    }

</script>

</body>
</html>