<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>投房宝</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>

</head>
<body>

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <a style="width: 20%;height:48px;float: left;" href="/index/index/self">
        <img src="/public/zhongchou/index/image/fanhui_03.png" alt="返回" style="width: 22px;height: 20px;margin: 14px 0px 14px 13px"/>
    </a>
    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">意见反馈</div>

</div>

<div style="width: 100%;height: 20px"></div>


<textarea class="textarea_css" rows="10" cols="30" name="option" placeholder ="请写下您宝贵的意见" style="margin-left: 5%;width: 90%;height: 200px;border-radius: 5px"></textarea>




<div style="width: 100%;height: 30px"></div>

<div style="width: 90%;height: 40px;border-radius: 5px;text-align: center;line-height: 40px;color: white;font-size: 15px;background-color: #0e9def;margin-left: 5%">
    完成
</div>

</body>
</html>
