<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>投房宝</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>

</head>
<body>






<div style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;background: url('/public/zhongchou/index/image/tupian.png');background-size: cover">

    <div style="width: 100%;height: 100px"></div>

    <div style="width: 100%;height: 50px;background-color: white;position: relative;border-bottom: 1px solid #bebebe;background-color: rgba(0,0,0,0);">

        <div style="width: 20px;height: 20px;position: absolute;top: 15px;left: 15px;"></div>

        <input style="position: absolute;background-color: rgba(0,0,0,0);;left: 50px;top: 5px;border: none;height: 40px;width: 260px" placeholder="请输入银行预留手机号"/>
    </div>

    <div style="width: 100%;height: 50px;background-color: rgba(0,0,0,0);position: relative;border-bottom: 1px solid #bebebe">

        <div style="width: 20px;height: 20px;position: absolute;top: 15px;left: 15px;"></div>

        <input style="position: absolute;left: 50px;top: 5px;border: none;height: 40px;width: 180px;background-color: rgba(0,0,0,0);" placeholder="请输入验证码"/>

        <div style="position: absolute;right: 18px;top: 10px;width: 62px;height: 30px;font-size: 10px;color: #242424;line-height: 30px;background-color: #fafd06;border-radius: 5px;text-align: center">获取验证码</div>

    </div>

    <div style="width: 100%;height: 30px;"></div>

    <div style="width: 90%;height: 40px;border-radius: 5px;text-align: center;line-height: 40px;color: #242424;font-size: 15px;background-color: #fafd06;margin-left: 5%">
        立即注册,参与众筹
    </div>

<div style="width: 60%;border-radius: 5px;height: 200px;background-color:  rgba(255,255,255,0.3);position: relative;margin-top: 100px;margin-left: 20%;color: white">
    1.
    2.
    3.
    4.
    5.
</div>

</div>




</body>
</html>
