<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>91众筹</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport"
          content="width=device-width,height=device-height,maximum-scale=1.0"/>
    <link href="/public/zhongchou/index/css/index.css" rel="stylesheet" type="text/css" />
    <script  charset='utf-8' language='javascript' type='text/javascript' src="/public/zhongchou/jQuery/jquery-1.11.3.js"></script>


</head>

<body >

<div style="width: 100%;height: 48px;background-color: #0e9def">

    <div style="width: 20%;height:48px;float: left;" >

    </div>
    <div style="width: 60%;float: left;text-align: center;line-height: 48px;color:white;font-size: 18px">登录</div>

</div>



<div style="width: 100%;height: 40px"></div>

<form action="/index/login/dologin" method="post">

<div style="width: 100%;height: 50px;background-color: white;position: relative;border-bottom: 1px solid #bebebe;">

    <div style="width: 20px;height: 20px;position: absolute;top: 15px;left: 15px;background: url('/public/zhongchou/index/image/shouji_03.png');background-size: cover"></div>

    <input style="position: absolute;left: 50px;top: 5px;border: none;height: 40px;width: 260px" placeholder="请输入用户名" name="username"/>
</div>



<div style="width: 100%;height: 50px;background-color: white;position: relative;">

    <div style="width: 20px;height: 20px;position: absolute;top: 15px;left: 15px;background: url('/public/zhongchou/index/image/suo_03.png');background-size: cover"></div>

    <input style="position: absolute;left: 50px;top: 5px;border: none;height: 40px;width: 260px" placeholder="请输入密码" TYPE="PASSWORD" name="password"/>
</div>


<div style="width: 100%;height: 30px"></div>

<input style="width: 90%;height: 40px;border-radius: 5px;text-align: center;line-height: 40px;color: white;font-size: 15px;background-color: #0e9def;margin-left: 5%"  type="submit" value="登录"/>



</form>

<div style="width: 100%;height: 100px"></div>
<div>
    <a href="/index/login/zhuce" style="font-size: 13px;color: #0e9def;margin-left: 15px">新用户注册</a>
    <a href="/index/login/set_password" style="font-size: 13px;color: #6e6e6e;margin-right: 15px;float: right;">忘记密码?</a>
</div>


</body>
</html>


